.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    width: 500px;
    max-width: 100%;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
  }
  