<div class="row" >
  <div class="col-4" >
    <p-scrollPanel [style]="{ width: '100%', height: '500px', padding: '1rem', display: 'flex' }">
      <p-button 
        label="Create" 
        icon="pi pi-plus" 
        styleClass="p-button-rounded p-button-text p-button-raised" 
        [style]="{ width: '100%', display: 'flex', }"
        (click)="onCreateClick()"></p-button>
  </p-scrollPanel>
  </div>
  <div class="col-6">
    <mwl-calendar-month-view [viewDate]="viewDate" [events]="events">
    </mwl-calendar-month-view>
  </div>
</div>

