.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  flex-basis: calc(75%);
  max-width: calc(75%);
}

.col-4 {
  flex-basis: calc(25%);
  max-width: calc(25%);
  
  background-color: white;
  flex-grow: 1;
}

.split-card {
  padding: 1rem;
  width: 33%;
}

.h3 {
  margin: 0 0 10px;
}

.pre {
  background-color: #f5f5f5;
  padding: 15px;
}
