<div class="row">
  <div class="col-4">
    <p-scrollPanel [style]="{ width: '100%', height: '500px', padding: '1rem', display: 'flex' }">
      <p-button label="Create" icon="pi pi-plus" styleClass="p-button-rounded p-button-raised"
        [style]="{ width: '100%', display: 'flex', }" (click)="onCreateClick()"></p-button>
    </p-scrollPanel>
  </div>
  <div class="col-6">
    <div class="row text-center" style="justify-content: space-between; align-items: center;">
      <span class="p-buttonset"  style="padding: 0.5rem;">
        <button pButton pRipple icon="pi pi-angle-left" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"></button>
        <button pButton pRipple label="Today" mwlCalendarToday [(viewDate)]="viewDate"></button>
        <button pButton pRipple icon="pi pi-angle-right" iconPos="right" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"></button>
      </span>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <span class="p-buttonset"  style="padding: 0.5rem;">
        <button pButton pRipple label="Month" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month"></button>
        <button pButton pRipple label="Week" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week"></button>
        <button pButton pRipple label="Day" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day"></button>
      </span>
    </div>
    <br />
    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>
  </div>
</div>
<!-- content creation from source -->
<p-dialog header="Header" [(visible)]="showContentModal" [modal]="true" [style]="{ width: '75vw' }" [draggable]="false"
  [resizable]="false">
  <app-createcontent></app-createcontent>
</p-dialog>
<!-- created event popup -->
<p-dialog header="Header" [(visible)]="showEventModal" [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Scheduled Content</span>
  </ng-template>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="showEventModal = false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
