<div>
  <p-progressSpinner 
    *ngIf="isAccountsLoading"
    class="col flex align-items-center justify-content-center"
    styleClass="w-2rem h-2rem" 
    strokeWidth="4" 
    fill="var(--surface-ground)" 
    animationDuration=".5s">
  </p-progressSpinner>
</div>
<p-tabView 
  *ngIf="!isAccountsLoading"
  styleClass="tabview-custom" 
  [(activeIndex)]="parentFocusedConnection">
  <p-tabPanel header="twitter" [disabled]="twitterConnected">
    <ng-template pTemplate="header">
      <i class="pi pi-twitter" *ngIf="!twitterConnected"></i>
      <i class="pi pi-check" *ngIf="twitterConnected"></i>
      <span>Twitter</span>
    </ng-template>
    <div class="container">
      <div class="column" style="padding: 0.5rem;">
        <p>
          Grant our app access to your Twitter account and take your tweeting game to the next level. With automated
          posting, you can schedule and publish tweets effortlessly, ensuring consistent engagement with your followers.
          Say goodbye to the hassle of manual tweeting and hello to effortless social media management!
        </p>
        <p-footer>
          <p-button label="Connect" icon="pi pi-plus" (click)="onTwitterLogin()" [disabled]="twitterConnected">
            <p-progressSpinner *ngIf="isLoading" alt="loading" styleClass="w-2rem h-2rem" />
          </p-button>
        </p-footer>
      </div>
      <div class="column">
        <img src="assets/images/twitter_sample.png" alt="twitter" style="width: 20vw; height: 7vw;" />
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="facebook" [disabled]="facebookConnected">
    <ng-template pTemplate="header">
      <i class="pi pi-facebook" *ngIf="!facebookConnected"></i>
      <i class="pi pi-check" *ngIf="facebookConnected"></i>
      <span>Facebook</span>
    </ng-template>
    <div class="container">
      <div class="column" style="padding: 0.5rem;">
        <p>
          To start automating your Facebook and Instagram posts and saving time, simply click the button below to grant
          our app access to your Facebook account. By doing so, you'll be able to schedule and publish posts seamlessly,
          without any manual intervention.
        </p>
        <p-footer>
          <button pButton type="button" label="Connect" icon="pi pi-plus" styleClass="p-button-success"
          [disabled]="facebookConnected" (click)="onFacebookLogin()">
            <p-progressSpinner *ngIf="isLoading" alt="loading" styleClass="w-2rem h-2rem" /></button>
        </p-footer>
      </div>
      <div class="column">
        <img src="assets/images/facebook_sample.png" alt="facebook" style="width: 20vw; height: 30vw;" />
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="medium" [disabled]="mediumConnected">
    <ng-template pTemplate="header">
      <i class="pi pi-pencil" *ngIf="!mediumConnected"></i>
      <i class="pi pi-check" *ngIf="mediumConnected"></i>
      <span>Medium</span>
    </ng-template>
    <p>
      Connect our app to your Medium account and simplify the process of publishing your articles. With automated
      posting, you can effortlessly schedule and share your content, reaching a wider audience with ease. Let us handle
      the logistics while you focus on crafting captivating stories!
    </p>
    <ul>
      <li>
        The first step is to login to your Medium account.  Once there you will need to go to your SETTINGS then your SECURITY AND APPS tab.
      </li>
      <li>
        Once there you will need to enter text and click on the GET TOKEN button.
      </li>
      <li>
        Then just copy the token and paste it into the field below.
      </li>
    </ul>
    <input pInputText style="width: 100%;" type="text" class="p-inputtext-lg" placeholder="Settings > Security and apps > Integration Token" [(ngModel)]="mediumIntegKey" />
    <p-button label="Submit" (click)="onMediumSubmit()" [disabled]="mediumConnected">
      <p-progressSpinner *ngIf="isLoading" alt="loading" styleClass="w-2rem h-2rem" />
    </p-button>
  </p-tabPanel>
  <p-tabPanel header="youtube" [disabled]="youtubeConnected">
    <ng-template pTemplate="header">
      <i class="pi pi-youtube" *ngIf="!youtubeConnected"></i>
      <i class="pi pi-check" *ngIf="youtubeConnected"></i>
      <span>Youtube</span>
    </ng-template>
    <div class="container">
      <div class="column" style="padding: 0.5rem;">
        <p>
          Grant our app access to your YouTube account and simplify your video uploading process. With automated
          posting, you can schedule and publish your videos seamlessly, ensuring they reach your subscribers at the
          right time. Maximize your YouTube presence with automated video uploads!
        </p>
        <p-footer>
          <p-button label="Connect" icon="pi pi-plus" (click)="onYoutubeLogin()" [disabled]="youtubeConnected">
            <p-progressSpinner *ngIf="isLoading" alt="loading" styleClass="w-2rem h-2rem"/>
          </p-button>
        </p-footer>
      </div>
      <div class="column">
        <p-card>
          <img src="assets/images/youtube_sample.png" alt="youtube" style="width: 20vw; height: 30vw;" />
        </p-card>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="LinkedIn" [disabled]="linkedinConnected" [disabled]="linkedinConnected">
    <ng-template pTemplate="header">
      <i class="pi pi-linkedin" *ngIf="!linkedinConnected"></i>
      <i class="pi pi-check" *ngIf="linkedinConnected"></i>
      <span>LinkedIn</span>
    </ng-template>
    <div class="container">
      <div class="column" style="padding: 0.5rem;">
        <p>
          Connect our app to your LinkedIn account and streamline your professional networking efforts. With automated
          posting, you can schedule and share valuable content with your connections, establishing thought leadership
          and boosting your professional brand. Experience the ease of automated LinkedIn posts!
        </p>
        <p-footer>
          <p-button label="Connect" icon="pi pi-plus" (click)="onLinkedinLogin()" [disabled]="linkedinConnected">
            <p-progressSpinner *ngIf="isLoading" alt="loading" styleClass="w-2rem h-2rem"/>
          </p-button>
        </p-footer>
      </div>
      <div class="column">
        <p-card>
          <img src="assets/images/linkedin_sample.png" alt="linkedin" style="width: 20vw; height: 15vw;" />
        </p-card>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
