<div *ngIf="currentContentStage == 'init'">
  <ng-template pTemplate="header">
    <h3>Select your content source</h3>
  </ng-template>
  <div style="display: flex; flex-direction: row;">
    <p-card class="split-card" header="Text Prompt">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
      <p-button label="Create" styleClass="p-button-rounded" (click)="generateWithText()"></p-button>
    </p-card>
    <p-card class="split-card" header="Video Upload">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
      <p-button label="Create" styleClass="p-button-rounded" (click)="generateWithVideo()"></p-button>
    </p-card>
    <p-card class="split-card" header="Youtube Link">
      <p class="m-0">Just type in a topic or idea and we will build on it. Making sure each post is relevant to your
        input.</p>
      <p-button label="Create" styleClass="p-button-rounded" (click)="generateWithYoutube()"></p-button>
    </p-card>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-cloud-upload" (click)="onAutoGenerate()" label="Generate one month of content for me"
      styleClass="p-button-rounded p-button-outlined "></p-button>
  </ng-template>
</div>

<div *ngIf="currentContentStage == 'loading'" class="flex flex-column">
  <ng-template pTemplate="header">
    <h3>Content Machine at work</h3>
  </ng-template>
  <p>Please what while we generate your posts...</p>
  <p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="currentContentStage == 'text'" class="flex flex-column">
  <ng-template pTemplate="header">
    <h3>Enter your topic and how often you would like it to post</h3>
  </ng-template>

  <h3>Frequency</h3>
  <p>Select how often you would like the content to be posted.</p>
  <p-dropdown [options]="frequencyOptions" [(ngModel)]="selectedFrequency" optionLabel="label" optionValue="value"
    placeholder="Select how often we should post" [style]="{'width':'100%'}" [virtualScroll]="true"
    [virtualScrollItemSize]="frequencyOptions.length">
    <ng-template pTemplate="selectedItem">
      <div class="flex align-items-center gap-2" *ngIf="selectedFrequency">
        <p>{{ selectedFrequency.value }}</p>
      </div>
    </ng-template>
    <ng-template let-option pTemplate="item">
      <div class="flex align-items-left gap-2">
        <b>{{ option.title }}</b>
        <p>{{ option.description }}</p>
      </div>
    </ng-template>
  </p-dropdown>
  <br />
  <h3>Input Prompt</h3>
  <p>Enter your prompt to create the content. The more detail you provide the better the content will
    be and unique across multiple posts.</p>
  <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" [(ngModel)]="inputPrompt"
    [style]="{'width': '100%'}"></textarea>

  <h3>Image Prompt</h3>
  <p>Enter your prompt to create the image content. Keep your idea concise to avoid getting random images.</p>
  <input pInputTextarea [autoResize]="true" [(ngModel)]="imagePrompt" [style]="{'width': '100%'}" />
  <br/>
  <br/>
  <p-footer>
    <button pButton type="button" label="Create!" icon="pi pi-plus" styleClass="p-button-success"
      [disabled]="selectedFrequency == undefined || inputPrompt == ''" (click)="onCreateSelected(selectedFrequency)">
    </button>
  </p-footer>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-cloud-upload" (click)="onAutoGenerateTopic()" label="Generate a topic for me"
      styleClass="p-button-rounded p-button-outlined "></p-button>
  </ng-template>
</div>

<div *ngIf="currentContentStage == 'video'">

</div>

<div *ngIf="currentContentStage == 'youtube_link'">

</div>
