<!-- The header of your application
<header>
  <h4>Welcome to the Money Printer</h4>
</header> -->

<!-- Navigation bar -->
<nav>
  <a class="button"
     routerLink="/login"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Login
  </a> | 
  <a class="button"
     routerLink="/dashboard"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Dashboard
  </a>
</nav>

<!-- Main content where router will inject components -->
<router-outlet></router-outlet>

<!-- Footer 
<footer>
  Footer
</footer> -->
